profiles {

     lsh { includeConfig "${params.custom_config_base}/conf/lsh.config" }
     lsh_dev { includeConfig "${params.custom_config_base}/conf/lsh_dev.config" }
     lsh_mamba { includeConfig "${params.custom_config_base}/conf/lsh_mamba.config"}
     cvua_rrw { includeConfig "${params.custom_config_base}/conf/cvua_rrw.config"}
     nesi { includeConfig "${params.custom_config_base}/conf/nesi.config"}
     
}
