
// Job parameters to set for this environment

params {
	max_cpus = 40
	max_memory = 250.GB
	reference_base = "/work_syn/shared/references"
  logo = "${reference_base}/lsh/lsh_logo.jpeg"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
}

singularity {
  enabled = true
  runOptions = "-B /scratch -B /work_syn"
  cacheDir = "/work_syn/shared/singularity_cache"
  envWhitelist = "HTTP_PROXY,HTTPS_PROXY"
}

