
// Job parameters to set for this environment

params {
	max_cpus = 40
	max_ram = 250
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
}

singularity {
  enabled = true
  runOptions = "-B /work -B /scratch"
  cacheDir = "/work/singularity_cache"
}

