
// Job parameters to set for this environment

params {
	max_cpus = 40
	max_memory = 250.GB
	reference_base = "/work_syn/shared/references"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
}

conda {
  enabled = true
  useMamba = true
}

