
// Job parameters to set for this environment

params {
	max_cpus = 8
	max_ram = 30.GB
	reference_base = "/projects/reference_base"
}

// Resource manager settings

executor {
  queueSize=5
}

// Process setting

process {
  executor = 'local'
}

singularity {
  enabled = true
  runOptions = "-B /projects"
  cacheDir = "/projects/singularity_cache"
}

