
// Job parameters to set for this environment

params {
	max_cpus = 8
	max_memory = 30.GB
	reference_base = "/mnt/share/volume1/work/references"
}

// Resource manager settings

executor {
  queueSize=5
}

// Process setting

process {
  executor = 'local'
}

singularity {
  enabled = true
  runOptions = "-B /home -B /mnt"
  cacheDir = "/mnt/share/volume1/work/singularity_cache"
}

